.title {
  margin-top: 6rem;
  text-align: center;
}
form.dynamic-form {
  margin-top: 2rem;
  padding: 4rem;
  gap: 2rem;

  .sub-title{
    margin-bottom: 1rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  .dynamic-controls {
    padding: 2rem 4rem;
    .sub-title{
      margin-bottom: 2rem;
    }
    .header {
      display: flex;
      justify-content: flex-start;
      gap: 2rem;
    }
    section {
      margin-bottom: 1rem;
    }
  }

  .form-raw-data {
    textarea {
      min-width: 50rem;
      min-height: 15rem;
    }
  }

 
}
.example-form-field {
  width: 200px;
}